{% if site.awesometoc.enableToc %}
<!--awesome-toc-->
<script type="text/javascript" src="/assets/js/awesome-toc/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/assets/js/awesome-toc/awesome-toc.js"></script>
        <script type="text/javascript">
            $.awesome_toc({   
              autoDetectHeadings: true,
              enableToTopButton: true,
			  enableToc:true,
			  overlay: false,
			  displayNow: true,
              title: "文章目录",
              contentId: "post-id",
			  itemPrefix: "",
              css: {
                  fontSize: "14px",
                  largeFontSize: "18px",
              },
            });
</script>
{%- endif -%}