<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="baidu-site-verification" content="code-XOjDaSejtR" />
<meta name="keywords" content="阿宝啊，abaoa,Qt,C++,健康休，软件一键打包">
<meta name="discription" content="阿宝啊，专注开发Qt软件，编写Qt技术博客。">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link href="/assets/favicon.ico" rel="shortcut icon" >
<link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/octicons/octicons/octicons.css">
<link rel="stylesheet" href="{{ assets_base_url }}/assets/css/categories.css">
<link rel="stylesheet" href="{{ assets_base_url }}/assets/css/common.css">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<script async src="{{ assets_base_url }}/assets/vendor/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<title>{{ page.title | default: site.title }}</title>
{% seo %}
{% if site.plainwhite.dark_mode %}
<script type="text/javascript" src="{{ "/assets/js/darkmode.js" | relative_url }}"></script>
{% endif %}

