<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="baidu-site-verification" content="code-x68ExswjjC" />
<meta name="keywords" content="阿宝啊,月白风清,abaoa,abaoa.cn,Qt,C++,健康休,软件一键打包">
<meta name="discription" content="阿宝啊,专注开发Qt软件,编写Qt技术博客">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
<link href="/assets/favicon.ico" rel="shortcut icon" >
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/octicons/octicons/octicons.css">
<link rel="stylesheet" href="{{ assets_base_url }}/assets/css/categories.css">
<link rel="stylesheet" href="{{ assets_base_url }}/assets/css/common.css">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<!--bootstrap-->
<!--link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/bootstrap/css/bootstrap.css"-->
<title>{{ page.title | default: site.title }}</title>