
<!--所有文章-->
{%- for post in paginator.posts -%}
  <li>
	{%- assign date_format = site.plainwhite.date_format | default: "%Y/%m/%d%" -%}
	<!--文章标题-->
	<a class="post-link" href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title | escape }}</h2>
	</a>
	<div class="post-meta1">

	<!-- 文章时间 -->
	<span style="margin-right:24px; class="meta-info">
		  <span class="octicon octicon-calendar"></span> {{ post.date | date: date_format }}
	</span>
	
	<!-- 文章类别 -->
	{% for cat in post.categories %}
	<span style="margin-right:24px; class="meta-info">
		<span class="octicon octicon-file-directory"></span>
		   <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
		</span>
	{% endfor %}
	
	<!-- 文章字数统计 -->
	{%- if site.word_count.enabled -%}
	<span class="meta-info">
		<span class="octicon octicon-clock"></span>
			共 {{ post.content | strip_html | strip_newlines | remove: " " | size }} 字，约 {{ post.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟
	</span>
	{%- endif -%}
	
	<!-- 文章观看人数 -->
   {%- if site.busuanzi.enabled -%}
	<span style="margin-left:24px; class="meta-info">
	<span class="octicon octicon-eye"></span>
	 <span id="busuanzi_container_page_pv">
	 <span id="busuanzi_value_page_pv"></span>
	 </span>
	 </span>
	 {%- endif -%}
	
  </div>
	<!--文章摘录-->
	<div class="post">
	  {%- if site.show_excerpts -%}
		{{ post.excerpt }}
	  {%- endif -%}
	</div>
  </li>
{%- endfor -%}
{% include pagination.html %}
